<p id="title">Your Cart</p>

<div class="wrapper">

  <div class="tours-content">
    <ng-container *ngFor="let cartItem of cartItems; let i = index">

      <div *ngIf="cartItem.count > 0" class="cart-items">

        <p>{{cartItem.name}} x{{cartItem.count}}</p>

        <div *ngIf="recievedTours !== undefined" class="button-panel">

          <button *ngIf="canAdd(cartItem)" mat-flat-button color="primary" (click)="addTour(cartItem)">+</button>
          <button *ngIf="canDelete(cartItem)" mat-flat-button color="warn" (click)="deleteTour(cartItem)">-</button>

        </div>

      </div>

    </ng-container>


  </div>

  <div class="sum-content">
    <p class="total">Total: </p>
    <p class="total">{{getSum()}}</p>
    <button mat-raised-button color="accent" (click)="purchase()">Purchase</button>
  </div>

</div>


