.panelOptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.panelOptions > button{
  display: block;
  width: 50%;
  height: 200px;
  margin-top: 5%;
  box-shadow: 1px 1px 10px;
}
.persistence{
  display: flex;
  flex-direction: column;
  align-items: center;
}
